<div class="_video">
    <youtube-player 
  videoId="Wh18iJ7vZoM" 
  suggestedQuality="highres" 
  [height]="450" 
  [width]="1094" 
>
</youtube-player>
<div class="_info-header" #stickyMenu
[class.sticky] = "sticky">
<div class="row">
    <div class="_leftpart">
        <div class="_title">Looking For Lara</div>
        <div class="_info">
            18| Dec31,2020
        </div>
        <div class="_info">
            Portugise | Biography, Historical
        </div>
    </div>
    <div class="_rightpart">
        <button (click)="openDialog()">
            Buy Now for &#x20b9;35
        </button>
    </div>
</div>
</div>
<div class="_more">
</div>
</div>