<div id="wrapper" class="animate">
    <nav class="navbar header-top navbar-expand-lg  navbar-dark">
        <ul class="navbar-nav ml-md-auto d-md-flex">
            
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="movies" >Movies
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="events" >Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="plays">Plays</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="sports">Sports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="activities">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Monuments</a>
              </li>
              
            <li class="nav-item">
                <a class="nav-link" href="#">Fanhood
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Buzz</a>
              </li>
             
          </ul>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
          
          <li class="nav-item">
            <a class="nav-link" href="#">ListYourShow
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Corporates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giftcards</a>
          </li>
         
        </ul>
      </div>
    </nav>
  
  </div>