
.movie-top-info-block{
    height: 300px;
}
.top-header{
    margin-top: 0px;
    height: 230px;
    background-color:rgba(0,0,0,.8);
    position: relative;
    z-index: 0;
    width: 100%;

}
._tag{
    color: #999;
    background: #eff2f5;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 12px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
}
.row{
    height: 100%;
    width: 100%;

    position: relative;
    display: block;
}
.movie-image{
    position: absolute;
    top: 50%;
    left: 10%;
    min-width: 150px;
    height: 50%;
    width: 16%;
    min-height: 250px;
    transform: translate(-50%, -50%);
  
    
  
    z-index: 2;
 
    cursor: pointer;
  
}
.__name{
    font-size: 22px;
    padding-right: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    letter-spacing: 2px;
}
.__language{
    font-size: 12px;
    font-weight: 400;
    color: white;
    opacity: .8;
}
.__genre{
    border: 1px solid #ddd;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 400;
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: .8;
}
.__date{
    font-size:14px;
    vertical-align: middle;
    font-weight:400;
    width: 100px;
    color: white;
}
.__date i{
    margin-right: 4px;
    opacity: .8;
    display: inline-block;
}
._spacer{
    flex: 1 1 auto;
    display: inline-block;
}
.movie-det{
    position: absolute;
    top: 9%;
    left: 100%;
    padding-left: 18%;
}
.image{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5bc199;
}
._socialRespo{
    display: inline-block;
    position: absolute;
}
._responsebar{
    display: table;
    margin-top: 4%;
}

.social_response {
    transition: background-color .5s ease;
    width: 40px;
    height: 40px;
    padding: 5px;
    stroke-width: 5px;
    fill:white;
    stroke: #49ba8e;
    border-radius: 4px;
    border:1px solid #49ba8e;
    background-color: white; 
   
    display: table-cell;
    position: relative;
    zoom: 1;
    box-sizing:inherit
}
.like_action{
   height: 2em;   
    width: 2em;
    display: inline-block;
    color: #49ba8e;
    vertical-align: middle;
 
    
}
._response{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;

    
}

._votes{
    font-size: 22px;
    display: block;
    font-weight: 400;
}
._text{
    color: #9d9d9d;
    font-size: 10px;
}

.tabs{
    margin-top:6%
    ;color:#333;
}

mat-tab {
    color:#333;
   
}
._heading{
    margin:25px 0;
    font-weight: 700;
    color:#333;
    font-size: 14p;
    display: inline-block;

}
._synopsis{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
blockquote{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-block-end: 5px;
}
._casting{
    display: block;
    align-items: center;
}
._castinfo{
    text-align: center;
    max-width: 110px;
    margin:10px 25px 10px 25px;
    max-height: 150px;
  

    display: inline-block;
}
.cast_role{
    color: #999;
    font-weight: 400;
    font-size: 12px;
    display: block;
}
.cast_image{
    display: block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.cast_name{
    overflow: hidden;
    display: inline-block;
    color:#49ba8e;
    margin-top: 8px;
    font-size: 12px;
    margin-bottom: -.5em;
}