._dashboard-items{
    margin-top: 16px;
    display: block;
    height: 100%;
}
._left-part{
    width: 30%;
    padding-left: 6%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
  
}
._watch-image{
    height: 260px;
    width: 268px;
    padding:8px;
    background-color: white;
    align-content: center;
    -webkit-box-align: start;
    display: flex;
    
}
.event-card{
    width: 240px;
    display: inline-block;
    background-color: white;
    margin-right: 32px;
    margin-bottom: 20px;
}

._right-part{
    width: 70%;
    display: inline-block;
}
.card-info{
    margin-top: 6px;
  
}
._streaming{
   
    color:#999999;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    display: block;
    white-space: nowrap;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
   
}
.event-image{
    min-height: 330px;
    object-fit: cover;
    width: 240px;
}
._heading_text{
    font-size: 18px;
    line-height: 21px;
    color:#333;
    font-weight: 700;
    margin-top: 10px;
   
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}
.__poster{
    min-width: 25%;
    margin-right: 14px;
}
._event-section{
    display: block;
    width: 70%;
}
._date{
    color: #BD2527;
    font-size: 12px;
    display: block;
    align-self: center;

}

.left-card{
    width: 20%;
    align-items: center;
    display: inline-block;
   -webkit-box-align: center;
   margin-inline-start: 20px;
   vertical-align: top;
}
.right-card{
    display: inline-block;
    width: 70%;

}
   ._month{
    color:#333333;
    font-size: 12px;
}

._eventTitle{
    color:#333333;
    font-size: 14px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

}